#UserForm {
    border: 1px solid;
    border-radius: 6px;
    padding: 10px 20px;
}

input {
    display: inline-block;
}
section{
    text-align: center;
}
form {
    background-image: url(../img/pat.png);
    width: 25%;
    background-color: transparent;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    border-radius: 6px;
    margin-left: 60px;
    padding-bottom: 20px;
    margin: 0 auto;
}

#status {
    display: flow-root;
}

.form-style {
    padding: 13px 20px;
    /* padding-left: 45px; */
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: transparent;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
    margin-bottom: 8px;
}

option,select {
    color: black;
    background-color: #E4E9F7;
}

#submit {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #102770;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}
#disp {
    color: #7b5ec8;
}
table{
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    border: 2px;
}